<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerRepairRequests.Properties.Settings.My_last_baseConnectionString"
            connectionString="Data Source=Yaroslav--PC\SQLEXPRESS;Initial Catalog=My_last_base;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerRepairRequests.Properties.Settings.FedotovYaroslavConnectionString"
            connectionString="Data Source=ADCLG1;Initial Catalog=FedotovYaroslav;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>